@use "base/variables" as v;
@use "base/mixins" as m;

.formulario {
    width: 90%;
    margin: 0 auto;
}
.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    label {
        flex: 0 0 10rem;
    }
    input {
        width: 100%;
        border: none;
        padding: calc(v.$separacion / 4);
        border-radius: 1rem;
    }
}

