@use "base/variables" as v;
@use "base/mixins" as m;

.custom-popup {
    width: 90%;
    font-size: 1.4rem;
}
.custom-button {
    font-size: 1.2rem;
    width: 6rem;
    height: 4rem;
}
@include m.telefono {
    .custom-popup {
        width: 40rem;
        height: 30rem;
    }
}